{% extends "layout/layout.html.twig" %}

{% block title %}リスト{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-10 content" id="mainApp">
                <div class="row">
                    <div class="col-md-12 moveList">
                        {% for video in videoList %}
                            <div class="col-xs-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ video['thumbnail'] }}">
                                    <div class="caption line-2">
                                        <span class="movieTitle">{{ video['title'] }}</span>
                                        <a href="./watch/{{ video['video_code'] }}" class="thumbnailLink"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-12 page" style="text-align:center;margin:50px;">
                        <span style="font-size: x-large;">
                            {#<a href="/content1/list?page={{ prevPage }}"> &lt; </a>#}
                            <a {{ prevPage == false ? "" : "href= /content1/list?page=" }}{{ prevPage }}> &lt; </a>
                            <span style="margin-left: 5em;margin-right:5em;">{{ page }}</span>
                            {#<a href="/content1/list?page={{ nextPage }}"> &gt; </a>#}
                            <a {{ nextPage == false ? "" : "href= /content1/list?page=" }}{{ nextPage }}> &gt; </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 sidebar">
                {# ログインしている場合のみ　チェックの有無で遷移先を変える　vueが良さそう? バニラでもいいかも？ #}
                <form action="/content1/list" method="GET">
                    {% if (isAuth is same as (true)) %}
                        {% if (isFilterBookmark is same as (true)) %}
                            <input type="checkbox" name="isFilterBookmark" id="isFilterBookmark" value="true" checked>
                        {% else %}
                            <input type="checkbox" name="isFilterBookmark" id="isFilterBookmark" value="true">
                        {% endif %}
                    {% else %}
                        <input type="checkbox" name="isFilterBookmark" id="isFilterBookmark" disabled value="true">
                    {% endif %}
                    <label for="isFilterBookmark">ブックマーク済みのみ</label>
                    <input type="submit" value="フィルター">
                </form>
            </div>
        </div>
    </div>

{% endblock %}