{% extends "layout/layout.html.twig" %}

{% block title %}content1{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-10 content" id="mainApp">
                メインの表示
                <br>
                <input type="hidden" name="videoId" value="{{ videoId }}">
                <input id="csrf_name" type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input id="csrf_value" type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                <div id="edit"></div>
            </div>
            <div class="col-md-2 sidebar">
                サイドバーの表示

            </div>
        </div>
    </div>

{% endblock %}