{% extends "layout/layout.html.twig" %}

{% block title %}Edit : {{ title }}{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-10 content" id="mainApp">
                <br>
                <input type="hidden" name="videoId" value="{{ videoId }}">
                <input id="csrf_name" type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                <input id="csrf_value" type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
                <div id="edit"></div>
            </div>
            <div class="col-md-2 sidebar">
                <br>
                <a id="backType" class="btn btn-success col-md-12"
                   href="{{ path_for('watch', {'active-header': 'watch', 'id': videoId }) }}">戻る</a>
            </div>
        </div>
    </div>

{% endblock %}